{% extends 'base/layout.html' %}
{% load static %}
{% block userdefined %}
<div class="container">
    <form action="" method="POST" class="mt-4">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="Search" class="btn btn-info">
    </form>
</div>

<!-- {% if result %}
<ol>
{% for r in result %}

   <li>{{r.student_name}}&nbsp;<a href="delete-student/{{r.id}}">delete</a></li>

{% endfor %}
</ol>
{% endif%} -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
               
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <a class="btn btn-success" href="create-student/" role="button">Create</a>
        </ul>
    </div>
</nav>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Student name</th>
        <th scope="col">Branch</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for r in result%}
      <tr>
        
        <th scope="row">{{r.id}}</th>
        <td>{{r.student_name}}</td>
        <td>{{r.department}}</td>
        <td>
            <a class="btn btn-primary" href="edit-student/{{r.id}}" role="button">Edit</a>
           <!-- <input  <a href="edit-student/{{r.id}}">Edit </a> class="btn btn-success" ></input> /  -->
            <!-- <a href="delete-student/{{r.id}}">Delete</a> -->

            &nbsp;
            <a class="btn btn-danger" href="delete-student/{{r.id}}" role="button">Delete</a>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

{% endblock %}